.w3-card {
  display: block;
  background-color: $card-background-color;
  box-shadow: 0 4px 8px 0 $card-shadow-color;
  transition: 0.3s;
  border-radius: 5px;
}

.w3-card:hover {
  box-shadow: 0 8px 16px 0 $card-shadow-hover-color;
}

.w3-container {
  background-color: $container-background-color;
  padding: 2px 16px;
}