*.gem
.bundle
.ruby-version
.jekyll-cache
.sass-cache
_site
Gemfile.lock
node_modules


#Local secrets
secrets/**

#VS Code 
.vscode/*
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace
.vscode-server/*

#Developers using a mac
**/.DS_Store