// custom SCSS (or CSS) goes here

// ---Custom Main Content style
.main-content {
  &[dir="rtl"] {
    text-align: justify;

    ol {
      > li {
        &::before {
          right: -1.6em;
          z-index: -1;
        }
      }
    }
  }
  
  th,
  td {
    &:first-of-type {
      border-left: 1px solid red;
    }

    &:last-of-type {
      border-left: 0;
    }
  }
}

.footnotes {
  font-size: 0.9rem;
}
