// //
// // TP Theme
// // 


$white: #fff;
$grey-dk-000: $white;

$tp_orange: #ff7f15;
$tp_green: rgba(50,180,93,1);

$link-color: $tp_orange;
$nav-link-color: $white;
$nav-child-link-color: $white;
$btn-primary-color: $tp_orange;
$base-button-color: $white !default;

.btn{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.side-bar, .site-title, .site-footer {
    background-color: $tp_green;
}
.navigation{
    min-width: 300px;
}

.navigation-list-child-list .navigation-list-link
.navigation-list-link a,
.navigation-list-link.active,
.side-bar a, 
.site-title a,
.site-footer{
    color: $white;
}

//Re-Enable List-syles
.page-content ul{
    list-style: disc; 
}

.page-content ol{
    list-style-type: decimal; 
}