.home-header {
  width: 100%;
  height: calc(100vh - #{$header-height});
  background: url($header);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 30%;

  h1 {
    @include fs-10;
    line-height: 1em;
    margin-bottom: 2%;
  }

  p {
    @include fs-5;
    line-height: 1.5em;
  }
}

.image-txt-container {
  display: flex;
  align-items: center;
  padding: 7% 14%;
}

.left {
  flex-flow: column;
}

.right {
  flex-flow: column-reverse;
}

.left, .right {
  // text-align: center;

  img {
    margin: 0;
  }
}

@include mq(md) {
  .image-txt-container {
    flex-flow: row;
  }
  .left {
    text-align: left;

    img {
      margin-left: 10%;
    }
  }
  .right {
    text-align: right;

    img {
      margin-right: 10%;
    }
  }
}

.divider {
  margin: 0 20%;
  color: $sidebar-color;
  border: 1px solid rgba($sidebar-color, 0.98);
}

.buttons {
  text-align: center;
  padding: 7% 14%;
}

.right-of-navbar {
  @include mq(md) {
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: $nav-width;
  }
}

.footer-main {
  background-color: $sidebar-color;
  width: inherit;
  padding: 2% 14%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  img {
    margin-right: 10%;
    width: 30%;
    height: 30%;

    @include mq(md) {
      margin-right: 25%;
      width: 15%;
      height: 15%;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-left: 10%;
}

.main-header {
  border-top: 3px solid $border-color;

  @include mq(md) {
    border-top: none
  }
}

.home .main-header {
  display: block;

  > :not(:first-child) {
    display: none;
  }

  .open ~ * {
    display: block;
  }

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    background-color: $body-background-color;
    border-bottom: $border $border-color;

    > :not(:first-child) {
      display: initial;
    }
  }
}

.site-title {
  // Reduce padding a little
  @include mq(md) {
    padding: $sp-2 $sp-4;
  }
}

.site-header {
  height: $header-height;
  width: 100%;

  @include mq(md) {
    width: $nav-width-md;
  }

  @include mq(lg) {
    width: $nav-width;
  }
}

.site-logo {
  background-position: left center;

  // @include mq(md) {
  //   background-position: right center;
  // }
}

.dropdown {
  background-color: $sidebar-color;
  position: relative;
  display: block;
  min-height: $nav-list-item-height-sm;
  cursor: pointer;

  @include mq(md) {
    background-color: white;
    display: inline-block;
    height: $header-height;
    border-bottom: $border $border-color;
  }

  &.active {
    .dropdown-content {
      display: block;
    }

    .site-button {
      background-color: rgba($feedback-color, 1);
    }

    .dropdown-expander svg {
      transform: rotate(-90deg);
    }
  }
}

.dropdown-expander {
  display: block;
  position: absolute;
  right: 0;
  width: $nav-list-item-height-sm;
  height: $nav-list-item-height-sm;
  padding-top: #{$nav-list-item-height-sm / 4};
  padding-right: #{$nav-list-item-height-sm / 4};
  padding-bottom: #{$nav-list-item-height-sm / 4};
  padding-left: #{$nav-list-item-height-sm / 4};
  color: $link-color;

  svg {
    transform: rotate(90deg);
  }

  @include mq(md) {
    display: none;
  }
}

.dropdown-content {
  display: none;
  position: relative;

  @include mq(md) {
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
}

.dropdown-content a {
  @include fs-3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: $sidebar-color;

  &:hover {
    background-color: rgba($feedback-color, 1);
  }
}

.aux-nav .aux-nav-list {
  justify-content: center;
}

.aux-nav-list-item .site-button {
  border-width: 0;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  color: $white;
  background-color: $btn-primary-color;
  margin: 1rem;
  padding: 0.3em 1rem;

  &:hover,
  &.zeroclipboard-is-hover {
    color: $white;
    background-color: darken($btn-primary-color, 4%);
    background-image: linear-gradient((lighten($btn-primary-color, 2%), darken($btn-primary-color, 4%)));
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: darken($btn-primary-color, 5%);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  @include mq(md) {
    margin: 0;
    padding: $gutter-spacing-sm;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    color: $link-color;
    background-color: initial;

    &:hover,
    &.zeroclipboard-is-hover {
      color: $link-color;
      background-color: initial;
      background-image: linear-gradient(
        -90deg,
        rgba($feedback-color, 1) 0%,
        rgba($feedback-color, 0.8) 100%
      );
    }

    &:active,
    &.selected,
    &.zeroclipboard-is-active {
      background-color: initial;
      background-image: initial;
      box-shadow: initial;
    }
  }
}

.main {
  @include mq(md) {
    position: relative;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: $nav-width;
  }
}

.main-content-wrap {
  margin-left: 0;

  @include mq(lg) {
    margin-left: calc(
            (100vw - #{$nav-width + $content-width}) / 2
    );
  }
}