/* Modal Styles */

.modal {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s, width 0s 0.4s, height 0s 0.4s,
    visibility 0s 0.4s;

  &.visible {
    visibility: visible;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.4s, width 0s, height 0s, visibility 0s;

    .modal-content {
      visibility: visible;
    }
  }

  .modal-content {
    visibility: hidden;
  }
}

.modal-content {
  text-align: center;
  background-color: $table-background-color;
  position: relative;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 80%;
  min-height: 50%;

  @include mq(md) {
    width: 50%;
    min-height: 70%;
  }

  .close {
    color: $body-text-color;
    position: absolute;
    top: $sp-4;
    right: $sp-4;
    font-size: $font-size-8;
    line-height: 1rem;
    z-index: 2;
    cursor: pointer;
  }

  .errormsg {
    color: red;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 200px;
  }

  .modal-left {
    display: none;
    flex-grow: 1;

    @include mq(md) {
      display: initial;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  .modal-right {
    padding: $sp-4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;

    @include mq(md) {
      width: auto;
    }
  }

  .input-group {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-top: $sp-3;
    max-width: 100%;

    label {
      font-weight: bold;
    }

    input {
      background-color: $grey-lt-300;
      border: none;
      border-radius: 4px;
      font-size: $font-size-5;
      padding: $sp-1 $sp-2;
    }
  }

  button {
    padding: $sp-1 $sp-2;
    border-radius: $border-radius;
    font-size: $font-size-5;
    border: none;
    outline: none;
    background-color: $grey-dk-000;
    width: 100%;
    margin-top: $sp-4;
    color: black;
  }

  button:hover {
    background-color: $grey-dk-250;
  }

  .separator {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: $sp-3 0;

    hr {
      margin: 0 $sp-2;
      width: 100%;
    }
  }

  .social-logins button {
    width: 100%;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid black;
    margin-top: $sp-6;
    cursor: pointer;

    .logo {
      width: 24px;
      height: 24px;
      margin-right: $sp-3;
    }
  }
}
