{%- comment -%}
  Include as: {%- include components/nav/ancestry.html node=page -%}
  Depends on: include.node, pages_list.
  Includes: components/nav/ancestry.html, components/nav/children.html.
  Assigns to: nav_ancestry.
  Overwrites:
    nav_parent_candidates, node, nav_ancestors, nav_children_urls, 
{%- endcomment -%}

{%- if include.node.parent == nil -%}
  {%- assign nav_ancestry = "" | split: "" -%}
{%- else -%}

  {%- assign nav_parent_candidates = pages_list | where: "title", include.node.parent -%}

  {%- for node in nav_parent_candidates -%}

    {%- include components/nav/ancestry.html node=node -%}
    {%- assign nav_ancestors = nav_ancestry | map: "title" -%}
    {%- include components/nav/children.html node=node ancestors=nav_ancestors -%}
    {%- assign nav_children_urls = nav_children | map: "url" -%}
    {%- if nav_children_urls contains include.node.url -%}
      {%- assign nav_ancestry = nav_ancestry | push: node -%}
      {%- break -%}
    {%- endif -%}

  {%- endfor -%}

{%- endif -%}
