{%- comment -%}
  Include as: {%- include components/nav/ancestry.html pages=page_array ancestors=title_array -%}
  Depends on: page, include.pages, include.ancestors.
  Includes: components/nav/ancestry.html, components/nav/children.html.
  Assigns to: nav_ancestry.
  Overwrites: node, nav_error_report, nav_ancestors.
{%- endcomment -%}

{%- for node in include.pages -%}

  {%- if include.ancestors contains node.title -%}
  
    {%- assign nav_ancestry = "" | split: "" -%}
    {%- capture nav_error_report -%}
      <blockquote class="warning">
        A page has the same title as its parent page or one of its ancestral pages!<br>
        This causes incorrect breadcrumbs.<br>
        Page title: <code>{{ node.title }}</code>, location: <code>{{ node.path }}</code>.
      </blockquote>
    {%- endcapture -%}
    {%- break -%}

  {%- elsif node.url == page.url -%}

    {%- assign nav_ancestry = "" | split: "" -%}
    {%- break -%}

  {%- else -%}

    {%- include components/nav/children.html node=node ancestors=include.ancestors -%}

      {%- if nav_children.size >= 1 -%}

        {%- assign nav_ancestors = include.ancestors | push: node.title -%}
        {%- include components/nav/ancestry.html pages=nav_children ancestors=nav_ancestors -%}

        {%- if nav_ancestry -%}
          {%- assign nav_ancestry = nav_ancestry | unshift: node -%}
          {%- break -%}    
        {%- endif -%}

      {%- endif -%}
  
  {%- endif -%}
  
{%- endfor -%}
