{%- comment -%}
  Include as: {%- include components/nav/links.html pages=page_array ancestors=title_array all=bool -%}
  Depends on: include.pages, include.ancestors, include.all.
  Results in: HTML for the main navigation when all is nil or false;
    includes links to pages excluded from the main navigation when all is true.
  Includes: components/nav/sorted.html, components/nav/children.html, components/nav/links.html.
  Overwrites:
    node, nav_children, nav_ancestors.
{%- endcomment -%}

<ul class="nav-list">
  {%- for node in include.pages -%}
  {%- if include.all == true or node.nav_exclude != true -%}

  {%- if include.ancestors contains node.title -%}
  
    <li class="nav-list-item">
      <a href="{{ node.url | relative_url }}" class="nav-list-link"> ∞ </a>
    </li>
    {%- capture nav_error_report -%}
      <blockquote class="warning">
        A page has the same title as its parent page or one of its ancestral pages!<br>
        This causes an incorrect link in the main navigation panel.<br>
        Page title: <code>{{ node.title }}</code>, location: <code>{{ node.path }}</code>.
      </blockquote>
    {%- endcapture -%}

  {%- else -%}
  
    {%- include components/nav/children.html node=node ancestors=include.ancestors all=include.all -%}

    <li class="nav-list-item">
      {%- if nav_children.size >= 1 -%}
      <button class="nav-list-expander btn-reset" aria-label="toggle items in {{ node.title }} category" aria-pressed="false">
        <svg viewBox="0 0 24 24" aria-hidden="true"><use xlink:href="#svg-arrow-right"></use></svg>
      </button>
      {%- endif -%}
      <a href="{{ node.url | relative_url }}" class="nav-list-link">{{ node.title }}</a>
      {%- if nav_children.size >= 1 -%}
        {%- if node.child_nav_order == 'desc' or node.child_nav_order == 'reversed' -%}
          {%- assign nav_children = nav_children | reverse -%}
        {%- endif -%}
        {%- assign nav_ancestors = include.ancestors | push: node.title -%}
        {%- include components/nav/links.html pages=nav_children ancestors=nav_ancestors all=include.all -%}
      {%- endif -%}
    </li>
  
  {%- endif -%}
  
  {%- endif -%}
  {%- endfor -%}
</ul>
{%- comment -%}{%- endcomment -%}
