$body-text-color: $grey-dk-300;
$body-background-color: $cfmp-gray;

$sidebar-color: $cfmp-blue;

$link-color: $grey-dk-300;
$nav-child-link-color: $grey-dk-300;

$table-background-color: $cfmp-gray;
