
$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;

$link-color: lighten($purple-000, 8%);
$btn-primary-color: $purple-200;

$code-background-color: $grey-dk-250;
