// Base variable for dark color scheme

$body-background-color: $grey-dk-300 !default;
$sidebar-color: $grey-dk-300 !default;
$search-background-color: $grey-dk-250 !default;
$border-color: $grey-dk-200 !default;
$body-text-color: $grey-lt-300 !default;
$body-heading-color: $grey-lt-000 !default;
$nav-child-link-color: $grey-dk-000 !default;
$search-result-preview-color: $grey-dk-000 !default;
$link-color: $blue-000 !default;
$btn-primary-color: $blue-200 !default;
$base-button-color: $grey-dk-250 !default;
$table-background-color: $grey-dk-250 !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$code-background-color: #31343f !default;
