// Dracula color scheme for Just the Docs
// Based on the Dracula theme: https://draculatheme.com/
// Original color values from: https://github.com/dracula/dracula-theme

$color-scheme: dracula;
$body-background-color: #282a36;
$body-heading-color: #f8f8f2;
$body-text-color: #f8f8f2;
$link-color: #bd93f9;
$nav-child-link-color: #f8f8f2;
$sidebar-color: #1d1e23;
$base-button-color: #44475a;
$btn-primary-color: #6272a4;
$code-background-color: #44475a;
$code-linenumber-color: #6272a4;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: #44475a;
$search-background-color: #44475a;
$search-result-preview-color: #f8f8f2;
$border-color: #6272a4;

// Dracula palette

$Red: #FF5555;
$Orange: #FFB86C;
$Yellow: #F1FA8C;
$Green: #50FA7B;
$Purple: #BD93F9;
$Cyan: #8BE9FD;
$Pink: #FF79C6;
$AnsiBlack: #21222C;
$AnsiRed: #FF5555;
$AnsiGreen: #50FA7B;
$AnsiYellow: #F1FA8C;
$AnsiBlue: #BD93F9;
$AnsiMagenta: #FF79C6;
$AnsiCyan: #8BE9FD;
$AnsiWhite: #F8F8F2;
$AnsiBrightBlack: #6272A4;
$AnsiBrightRed: #FF6E6E;
$AnsiBrightGreen: #69FF94;
$AnsiBrightYellow: #FFFFA5;
$AnsiBrightBlue: #D6ACFF;
$AnsiBrightMagenta: #FF92DF;
$AnsiBrightCyan: #A4FFFF;
$AnsiBrightWhite: #FFFFFF;
