<banner role="alert">
  <link rel="stylesheet" href="stylesheet.css">
  <figure class="icon">
    <svg width="24px" height="24px" class="icon-image">
      <path d="M12 2L2 12l10 10 10-10zM3.41 12L12 3.41 20.59 12 12 20.59z"></path>
      <circle cx="12" cy="15" r="1"></circle>
      <path d="M11.88 13h.24a.55.55 0 00.54-.5L13 8a1 1 0 00-2 0l.34 4.5a.55.55 0 00.54.5z"></path>
    </svg>
  </figure>
  <text-box>
    <message>
      Our developer.shotgridsoftware.com documentation has moved and this site will soon be discontinued.
      <span>
        <a target="_blank" style="text-decoration: none; color: #0696D7;" href="https://help.autodesk.com/view/SGDEV/ENU/">Visit our new developer documentation here.</a>
      </span>
    </message>
  </text-box>
</banner>
