{%- assign crumbsNodes = site.html_pages | where_exp:"item", "item.parent == include.owner" -%}
{%- for crumbsNode in crumbsNodes -%}
  {%- assign active = crumbsNode | active -%}
  {%- if active -%}
    {%- assign active = false -%}
    <li class="breadcrumb-nav-list-item">
      {%- if crumbsNode.title == page.title -%}
        {{ crumbsNode.title }}
      {%- else -%}
        <a href="{{ crumbsNode.url | absolute_url }}">{{ crumbsNode.title }}</a>
      {%- endif -%}
    </li>
  {%- endif -%}
  {%- include crumbs.html owner=crumbsNode.title -%}
{%- endfor -%}
