{%- for crumbsNode in include.nodes -%}
  {%- include active.html node=crumbsNode -%}
  {%- if active -%}
    {%- assign active = false -%}
    <li class="breadcrumb-nav-list-item">
      {%- if crumbsNode.title == page.title -%}
        {{ crumbsNode.title }}
      {%- else -%}
        <a href="{{ crumbsNode.url | absolute_url }}">{{ crumbsNode.title }}</a>
      {%- endif -%}
    </li>
    {%- assign crumbsChildren = hierarchy | where_exp:"item", "item.name == crumbsNode.title" | map: "items" | first -%}
    {%- include crumbs.html nodes=crumbsChildren -%}
  {%- endif -%}
{%- endfor -%}
