<p style="font-size:0.75em">
  Brought to you by the <a href="https://scds.ca">Lewis & Ruth Sherman Centre for Digital Scholarship</a> and the <a href="https://library.mcmaster.ca">McMaster University Library</a>.
  {% if site.subtitle %} 
    <br>
    {{ site.subtitle }}
  {% endif %}
  <br>

  <!-- McMaster date guidelines, Page 25: https://equity.mcmaster.ca/app/uploads/2021/04/Words-matter-writing-guidlines.pdf -->
  Site last modified:
  {% assign month = site.time | date: "%B" %}

  {% case month %}
      {% when 'January' %} Jan.
      {% when 'February' %} Feb.
      {% when 'August' %} Aug.
      {% when 'September' %} Sept.
      {% when 'October' %} Oct.
      {% when 'November' %} Nov.
      {% when 'December' %} Dec.
      {% else %}{{ month }}
  {% endcase %}

  {{ site.time | date: "%-d, %Y" }}
</p>
