<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% if site.enable_localstorage_color_scheme != false %}
  <script>
    (function(){
      function createThemeStylesheet(theme, media) {
        var link  = document.createElement('link');
        link.rel  = 'stylesheet';
        link.type = 'text/css';
        link.href = "{{ '/assets/css/just-the-docs-*.css' | relative_url }}".replace("*",theme);
        if(media) link.media = media;
        return link;
      }

      theme = window.localStorage.getItem('theme');
      head = document.getElementsByTagName('head')[0];

      if(theme === null) {
        theme = "{{ site.color_scheme }}";
      }
      if(theme === "auto") {
        head.appendChild(createThemeStylesheet('light', '(prefers-color-scheme: light)'));
        head.appendChild(createThemeStylesheet('dark', '(prefers-color-scheme: dark)'));
      } else {
        head.appendChild(createThemeStylesheet(theme || "default"));
      }
    })();
  </script>
  {% else %}
    {% assign color_scheme = site.color_scheme %}
    {% case color_scheme %}
    {% when "auto" %}
      <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-light.css' | relative_url }}" type="text/css" media="(prefers-color-scheme: light)">
      <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-dark.css' | relative_url }}" type="text/css" media="(prefers-color-scheme: dark)">
    {% when nil %}
      <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}" type="text/css">
    {% else %}
      <link rel="stylesheet" href="{{ color_scheme | prepend: '/assets/css/just-the-docs-' | append: '.css' | relative_url }}" type="text/css">  
    {% endcase %}
  {% endif %}

  {% if site.ga_tracking != nil %}
    {% assign ga_tracking_ids = site.ga_tracking | split: "," %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_ids.first }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      {% for ga_property in ga_tracking_ids %}
        gtag('config', '{{ ga_property }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
      {% endfor %}
    </script>
  {% endif %}

  {% if site.search_enabled != false %}
    <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  {% endif %}

  {% if site.mermaid %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid@{{ site.mermaid.version }}/dist/mermaid.min.js"></script>
  {% endif %}

  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {% for file in site.static_files %}
    {% if file.path == site.favicon_ico or file.path == '/favicon.ico' %}
      {% assign favicon = true %}
    {% endif %}
  {% endfor %}
  {% if favicon %}
    <link rel="icon" href="{{ site.favicon_ico | default: '/favicon.ico' | relative_url }}" type="image/x-icon">
  {% endif %}

  {% seo %}

  {% include head_custom.html %}

</head>
