<div id="main-header" class="main-header">
    {%- if include.home -%}
        <div class="site-header">
            <a href="{{ '/' | absolute_url }}" class="site-title lh-tight">{% include title.html %}</a>
            <a href="#" id="home-menu-button" class="site-button">
                <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg>
            </a>
        </div>
    {%- endif -%}

    {% if site.drop_title %}
    <div id="dropdown" class="dropdown">
    <a class="site-button">
        {{ site.drop_title }}
        <span class="dropdown-expander">
            <svg viewBox="0 0 24 24"> <use xlink:href="#svg-arrow-right"></use> </svg>
        </span>
    </a>
    <div class="dropdown-content">
        {% for link in site.drop_links %}
        <a href="{{ link.last }}"
                {% if site.aux_links_new_tab %}
                    target="_blank"
                {% endif %}
        >
            {{ link.first }}
        </a>
        {% endfor %}
    </div>
    </div>
    {% endif %}

    {% if site.search_enabled != false %}
    <div class="search">
        <div class="search-input-wrap">
            <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
            <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
        </div>
        <div id="search-results" class="search-results"></div>
    </div>
    {% endif %}

    {% if site.aux_links %}
    <nav aria-label="Auxiliary" class="aux-nav">
        <ul class="aux-nav-list">
            {% for link in site.aux_links %}
            <li class="aux-nav-list-item">
                <a href="{{- link.last -}}" class="site-button" data-tab="{{- link.first | downcase | replace: ' ', '' -}}"
                   {% if site.aux_links_new_tab %}
                   target="_blank" rel="noopener noreferrer"
                   {% endif %}
                >
                    {{- link.first -}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

    {%- if include.home -%}
        {% if site.search_enabled != false %}
        {% if site.search.button %}
        <a href="#" id="search-button" class="search-button">
            <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-search"></use></svg>
        </a>
        {% endif %}

        <div class="search-overlay"></div>
        {% endif %}
    {%- endif -%}
</div>