<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  {% assign color_scheme = site.color_scheme %}
  {% case color_scheme %}
  {% when "auto" %}
    <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-light.css' | relative_url }}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-dark.css' | relative_url }}" media="(prefers-color-scheme: dark)">
  {% when "light" %}
    <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-light.css' | relative_url }}">
  {% when "dark" %}
    <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-dark.css' | relative_url }}">
  {% when nil %}
    <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ color_scheme | prepend: '/assets/css/just-the-docs-' | append: '.css' | relative_url }}">
  {% endcase %}

  {% if site.ga_tracking != nil %}
    {% assign ga_tracking_ids = site.ga_tracking | split: "," %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_ids.first }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      {% for ga_property in ga_tracking_ids %}
        gtag('config', '{{ ga_property }}'{% unless site.ga_tracking_anonymize_ip == nil %}, { 'anonymize_ip': true }{% endunless %});
      {% endfor %}
    </script>
  {% endif %}

  {% if site.search_enabled != false %}
    <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
  {% endif %}

  {% if site.mermaid %}
    <script src="https://cdn.jsdelivr.net/npm/mermaid@{{ site.mermaid.version }}/dist/mermaid.min.js"></script>
  {% endif %}

  <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  {% include head_custom.html %}

</head>
