<nav>

    {% for toc_level_1 in site.data.toc %}

        <div class="nav-top-level" style="margin-top:15px; margin-bottom:5px">
            {{ site.data.toc_text[toc_level_1.caption] }}
        </div>

        {% for toc_level_2 in toc_level_1.children %}


            {% comment %}
                ------------------------------------------------
                Figure out if a level2 or level3 item in the TOC
                is selected. In that case, make sure all the children
                are expanded in the TOC.
                ------------------------------------------------
            {% endcomment %}

            {% assign this_node_or_children_selected = false %}
            {% assign has_children = false %}

            {% for page_iter in site.pages %}
                {% if page_iter.permalink == toc_level_2.page and page_iter.permalink == page.permalink %}
                    {% assign this_node_or_children_selected = true %}
                {% endif %}
            {% endfor %}

            {% assign page.g_child_pages = toc_level_2.children %}
            {% for toc_level_3 in toc_level_2.children %}
                {% assign has_children = true %}
                {% for page_iter in site.pages %}
                    {% if page_iter.permalink == toc_level_3.page and page_iter.permalink == page.permalink%}
                        {% assign this_node_or_children_selected = true %}
                    {% endif %}
                {% endfor %}
            {% endfor %}


            {% if has_children %}
                {% include nav_entry.html entry=toc_level_2 has_children=true expanded=this_node_or_children_selected %}
                {% if this_node_or_children_selected %}
                    {% for toc_level_3 in toc_level_2.children %}
                        {% include nav_entry.html indent="<span style='margin-left:20px'/>" entry=toc_level_3 %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% include nav_entry.html entry=toc_level_2 %}
            {% endif %}

            {% comment %}
                ------------------------------------------------
            {% endcomment %}

        {% endfor %}

    {% endfor %}


</nav>
