<nav>

    {% for toc_level_1 in site.data.toc %}

        <div class="nav-top-level" style="margin-top:15px; margin-bottom:5px">
            {{ site.data.toc_text[toc_level_1.caption] }}
        </div>

        {% for toc_level_2 in toc_level_1.children %}

            {% comment %}
                ------------------------------------------------
                Figure out if a level2, level3 or level4 item in the TOC
                is selected. In that case, make sure all the parents
                are expanded in the TOC to reveal the selected item.
                ------------------------------------------------
            {% endcomment %}

            {% assign expand_level_2 = false %}
            {% assign expand_level_3 = false %}
            {% assign has_children = "" %}

            {% for page_iter in site.pages %}
                {% if page_iter.permalink == toc_level_2.page and page_iter.permalink == page.permalink %}
                    {% assign expand_level_2 = true %}
                {% endif %}
            {% endfor %}

            {% comment %}
                ------------------------------------------------
                Iterate over the children of each level2 item to find level3
                items, then over the children of each level3 item to find
                level4 items.
                ------------------------------------------------
            {% endcomment %}
            {% for toc_level_3 in toc_level_2.children %}
                {% assign has_children = has_children | append: "," | append: toc_level_2.page %}
                {% for page_iter in site.pages %}
                    {% if page_iter.permalink == toc_level_3.page and page_iter.permalink == page.permalink %}
                        {% assign expand_level_2 = true %}
                        {% assign expand_level_3 = toc_level_3.page %}
                    {% endif %}
                {% endfor %}
                {% for toc_level_4 in toc_level_3.children %}
                    {% assign has_children = has_children | append: "," | append: toc_level_3.page %}
                    {% for page_iter in site.pages %}
                        {% if page_iter.permalink == toc_level_4.page and page_iter.permalink == page.permalink %}
                            {% assign expand_level_2 = true %}
                            {% assign expand_level_3 = toc_level_3.page %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            {% comment %}
                ------------------------------------------------
                Draw all the nav entries.
                If there are any children, and any of those children is selected
                expand all the parents to the level of the selected item.
                ------------------------------------------------
            {% endcomment %}
            {% assign has_children = has_children | split: "," %}

            {% if has_children contains toc_level_2.page %}
                {% include nav_entry.html entry=toc_level_2 has_children=true expanded=expand_level_2 %}
                {% if expand_level_2 %}
                    {% for toc_level_3 in toc_level_2.children %}
                        {% if has_children contains toc_level_3.page %}
                            {% if expand_level_3 == toc_level_3.page %}
                                {% assign expand_this = true %}
                            {% else %}
                                {% assign expand_this = false %}
                            {% endif %}
                            {% include nav_entry.html indent="<span style='margin-left:20px'/>" entry=toc_level_3 has_children=true expanded=expand_this %}
                            {% if expand_this %}
                                {% for toc_level_4 in toc_level_3.children %}
                                    {% include nav_entry.html indent="<span style='margin-left:40px'/>" entry=toc_level_4 %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% include nav_entry.html indent="<span style='margin-left:20px'/>" entry=toc_level_3 has_children=false %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% include nav_entry.html entry=toc_level_2 %}
            {% endif %}
            {% comment %}
                ------------------------------------------------
            {% endcomment %}
        {% endfor %}
    {% endfor %}
</nav>
