<button class="btn js-toggle-dark-mode">☾ dark</button>

<script>
    const btnToggle = document.querySelector('.js-toggle-dark-mode');

    if (localStorage.getItem('theme') === 'dark') {
        jtd.setTheme('dark');
        btnToggle.textContent = '☼ light';
    } else {
        jtd.setTheme('light');
        btnToggle.textContent = '☾ dark';
    }
</script>

<script>
    const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

    jtd.addEvent(toggleDarkMode, 'click', function () {
        if (jtd.getTheme() === 'dark') {
            jtd.setTheme('light');
            toggleDarkMode.textContent = '☾ dark';
            localStorage.setItem('theme', 'light');
        } else {
            jtd.setTheme('dark');
            toggleDarkMode.textContent = '☼ light';
            localStorage.setItem('theme', 'dark');
        }
    });
</script>

</br>