
{% if include.entry.page %}

    {% for page_iter in site.pages %}
        {% if page_iter.pagename == include.entry.page %}

            <div>

            <a
                {% if page.permalink == page_iter.permalink and include.has_children %}
                    class="nav-entry-selected-expanded"
                {% elsif page.permalink == page_iter.permalink %}
                    class="nav-entry-selected"
                {% elsif include.has_children and include.expanded %}
                    class="nav-entry-expanded"
                {% elsif include.has_children %}
                    class="nav-entry-non-expanded"
                {% else %}
                    class="nav-entry"
                {% endif %}
                {{include.indent}}
                href="{{ page_iter.url | absolute_url }}?title={{ page_iter.title | url_encode }}"
            >
                {{page_iter.title }}
            </a>
            </div>

        {% endif %}
    {% endfor %}

{% endif %}


{% if include.entry.url %}

    <div>

        <a class="nav-entry" href="{{ include.entry.url }}" {{include.indent}}>
            {{ site.data.toc_text[include.entry.text] }}
        </a>
    </div>

{% endif %}

