<!-- chartist.js + plugins -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/libs/chartist.min.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/libs/chartist-plugin-legend.min.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/libs/chartist-plugin-axistitle.min.js" defer></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/libs/chartist-plugin-zoom.min.js" defer></script>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/chartist.css">
<!-- end chartist calls -->
