.anchor_heading {
  visibility: hidden;
}

h1:hover > .anchor_heading,
h2:hover > .anchor_heading,
h3:hover > .anchor_heading,
h4:hover > .anchor_heading,
h5:hover > .anchor_heading,
h6:hover > .anchor_heading {
  visibility: visible;
}
