// stylelint-disable selector-no-type

* {
  box-sizing: border-box;
}

html {
  font-size: $root-font-size;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: 1.4;
  color: $body-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: $body-heading-color;
  line-height: 1.1;
  margin-bottom: .8em;

  &:not(:first-child) {
    margin-top: 1.2  em;
  }
}

p {
  margin-bottom: 1em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  margin-top: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

pre,
code {
  font-size: 90%;
  line-height: 1.3;
  font-family: $mono-font-family;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}
