@charset "UTF-8";
@font-face {
    font-family: 'ArtifaktElement';
    src: url('../assets/fonts/artifakt_element_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/artifakt_element_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//
// Styles for rendered markdown in the .main-content container
//
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type

.page-content {
  a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }

  ol {
    list-style-type: none;
    counter-reset: step-counter;

    li {
      position: relative;

      &::before {
        position: absolute;
        top: 0.2em;
        left: -1.5em;
        color: $grey-dk-000;
        content: counter(step-counter);
        counter-increment: step-counter;
        @include fs-3;

        @include mq(sm) {
          top: 0.11em;
        }
      }

      ol {
        counter-reset: sub-counter;

        li {
          &::before {
            content: counter(sub-counter, lower-alpha);
            counter-increment: sub-counter;
          }
        }
      }
    }
  }

  ul {
    list-style: none;

    li {
      &::before {
        position: absolute;
        margin-left: -1.5em;
        color: $grey-dk-000;
        content: "•";
      }
    }
  }

  .task-list {
    padding-left: 0;
  }

  .task-list-item {
    display: flex;
    align-items: center;

    &::before {
      content: "";
    }
  }

  .task-list-item-checkbox {
    margin-right: 0.6em;
  }

  hr + * {
    margin-top: 0;
  }

  h1:first-of-type {
    margin-top: 0.5em;
  }

  dl {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  dt,
  dd {
    margin: 0.25em 0;
  }

  dt {
    text-align: right;

    &::after {
      content: ":";
    }
  }

  dd {
    margin-left: 1em;
    font-weight: 500;
  }
}

banner {
  font-family: 'ArtifaktElement', sans-serif;
  display: flex;
  box-sizing: border-box;
  min-height: 50px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgb(249, 180, 180);
  background-color: rgb(255,212,212);
}

.icon {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 50px;
  min-height: 50px;
  margin: 0px;
  background-color: rgb(221, 34, 34);
}

.icon-image {
  fill: rgb(255, 255, 255);
  width: 24px;
  height: 24px;
  overflow-clip-margin: content-box;
  overflow: hidden;
}

text-box {
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: calc(15px) 0px 0px 1rem;
  overflow: hidden;
}

message {
  display: block;
  min-width: 200px;
  max-width: 1200px;
  padding-bottom: calc(15px);
  margin: 0px auto 0px 0px;
  text-align: left;
}
