// The basic two column layout

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }

  & + .main {
    @include mq(md) {
      margin-left: $nav-width-md;
    }

    @include mq(lg) {
      // stylelint-disable function-name-case
      // disable for Max(), we want to use the CSS max() function
      margin-left: Max(
        #{$nav-width},
        calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width})
      );
      // stylelint-enable function-name-case
    }

    .main-header {
      display: none;
      background-color: $sidebar-color;

      @include mq(md) {
        display: flex;
        background-color: $body-background-color;
      }

      &.nav-open {
        display: block;

        @include mq(md) {
          display: flex;
        }
      }
    }
  }
}

.main {
  margin: auto;

  @include mq(md) {
    position: relative;
    max-width: $content-width;
  }
}

.main-content-wrap {
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include container;

  @include mq(md) {
    padding-top: $gutter-spacing;
  }
}

.main-header {
  z-index: 0;
  border-bottom: $border $border-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: $nav-width;
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-8;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;

  @include mq(md) {
    height: $header-height;
    max-height: $header-height;
    border-bottom: $border $border-color;
  }
}

.site-title {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $body-heading-color;

  @include container;

  @include fs-6;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;
  overflow-y: scroll;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;

  @include container;

  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}

// ToC is added to .main-content-wrap => shift the sidebar and main div position to the left and widen the main div
@media (max-width: map-get($media-queries, md)) {
  .toc .main-content-wrap {
    padding-top: 0;
  }
}

@include mq(xl) {
  .toc .side-bar {
    width: calc((100% - #{$nav-width + $toc-width + $content-width}) / 2 + #{$nav-width});

    & ~ .main {
      margin-left: calc((100% - #{$nav-width + $toc-width + $content-width}) / 2 + #{$nav-width});
      max-width: #{$content-width + $toc-width};
    }
  }
  .main-content-wrap {
    width: $content-width;
  }
}

nav.toc {
  // ToC is hidden by default on xs -> lg views, unless an action attaches the .open class to nav.toc
  overflow-y: auto;
  line-height: 1.5;
  @include fs-3;

  @media (max-width: map-get($media-queries, md)) { // xs + sm
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3;
    @include fs-4;

    & > div {
      padding: 0 $sp-4;
      max-height: 100vh;
      overflow-y: auto;
      overscroll-behavior: contain;
      -ms-scroll-chaining: none;
      background-color: $white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);

      & p.js-toggle-toc {
        position: sticky;
        top: 1rem;
        text-align: right;
      }

      & li {
        margin: $sp-4 0;
      }
    }

    &.closed > div,
    & a.btn.js-toggle-toc {
      display: none;
      visibility: hidden;
    }

    &:not(.closed) ~ .search-overlay {
      width: 100%;
      height: 100%;
      opacity: 1;
      z-index: 2;
    }
  }

  @media (min-width: map-get($media-queries, md)) and (max-width: map-get($media-queries, xl)) { // md + lg
    &:not(.panel) {
      position: sticky;
      top: $sp-4;
      margin: $sp-8 $sp-4 -#{$sp-8} auto; // Align the ToC board to the right + move down without also moving the content
      width: $toc-width;
      height: 0;
      overflow: visible;
      z-index: 1;

      & > div {
        padding: 0 $sp-4;
        max-height: calc(100vh - 40px - 2rem);
        overflow-y: auto;
        background-color: $white;
        border-radius: $sp-1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
      }

      & > a.js-toggle-toc {
        display: block;
        margin-left: auto;
        padding: .6em;
        opacity: 0.3;
        width: 40px;
        height: 40px;

        &:hover, &:active, &:target {
          opacity: 1;
        }
      }

      &.closed > div, & p.js-toggle-toc {
        display: none;
        visibility: hidden;
      }
    }

    &.panel {
      position: fixed;
      top: 0;
      right: 0;
      padding: $sp-10 Max(calc((100% - #{$nav-width + $content-width}) / 2), $sp-4) 0 $sp-4;
      width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$toc-width} + #{$sp-4});
      min-width: #{$toc-width + $sp-6};
      height: 100vh;
      background-color: $white;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
      z-index: 3;
      
      &:not(.closed) a.js-toggle-toc {
        display: none;
        visibility: hidden;
      }

      &.closed {
        visibility: hidden;

        & > a.btn.js-toggle-toc {
          visibility: visible;
          position: fixed;
          top: $header-height + $sp-8;
          right: Max(calc((100% - #{$nav-width + $content-width}) / 2), $sp-4);
          padding: .6em;
          width: 40px;
          height: 40px;
          opacity: 0.3;

          &:hover, &:active, &:target {
            opacity: 1;
          }
        }
      }

      &:not(.closed) ~ .search-overlay {
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 2;
      }
    }

    & li {
      margin: $sp-2 0;
    }
  }

  @include mq(xl) {
    position: sticky;
    top: $sp-4;
    margin-top: $sp-8;
    float: right;
    width: $toc-width;
    max-height: calc(100vh - #{$sp-6});

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      position: fixed;
      right: calc((100% - #{$nav-width + $toc-width + $content-width}) / 2);
      top: $header-height;
      max-height: calc(100vh - #{$header-height + $sp-10});
    }

    & li {
      margin: $sp-2 0;
    }

    & .js-toggle-toc {
      display: none;
      visibility: hidden;
    }

    & div > p:nth-of-type(2) {
      margin-top: $sp-1;
    }
  }

  // Because toc-width is usually small => hide the list bullet points and minimize left padding
  & div > ul {
    padding-left: 0;
    list-style-type: none;

    & ul {
      padding-left: $sp-4;
      list-style-type: none;
      border-left: 1px solid $grey-lt-300;
    }
  }

  & a.toc-item-link.active {
    font-weight: bold;
  }

  & ol {
    padding-left: $sp-5;
    list-style-type: none;
    counter-reset: step-counter;

    & > li::before {
      position: absolute;
      margin-left: -#{$sp-5};
      content: counter(step-counter);
      counter-increment: step-counter;
    }

    & > li ol {
      counter-reset: sub-counter;
    }

    & > li ol > li::before {
      content: counter(sub-counter, lower-alpha);
      counter-increment: sub-counter;
    }
  }
}
