//
// The basic two column layout
//

.page-wrap {
  @include mq(md) {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.side-bar {
  z-index: 100;
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;
  background-color: $grey-lt-000;

  @include mq(md) {
    position: absolute;
    display: flex;
    width: $nav-width + 16px;
    height: 100%;
    padding-top: $gutter-spacing * 2;
    padding-bottom: 0;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main-content-wrap {
  @include mq(md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.main-content {
  padding-top: $gutter-spacing-sm;
  @include container;

  @include mq(md) {
    position: relative;
    max-width: $content-width;
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
    padding-left: $gutter-spacing * 1.5;
    margin-left: $nav-width;
  }

  @include mq(lg) {
    padding-left: $gutter-spacing;
    margin-left: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

.page-header {
  border-bottom: $border $border-color;

  @include mq(md) {
    .main-content {
      display: flex;
      justify-content: space-between;
    }
  }
}

.navigation,
.site-title {

  @include container;

  width: 100%;

  @include mq(lg) {
    width: $nav-width + 32px;
  }
}

.navigation {
  @include mq(md) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: $sp-8;
  }
}

.site-footer {
  @include mq(md) {
    margin-top: $sp-10;
  }
}
