// Sidebar with compact layout
.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    flex-flow: column nowrap;
    position: fixed;
    width: 12px; // Compact sidebar
    min-width: 12px;
    height: 100%;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    width: 20%;
    min-width: 20%;
  }

  & + .main {
    @include mq(md) {
      margin-left: 12px;
    }

    @include mq(lg) {
      margin-left: 20%;
    }

    .main-header {
      display: none;
      background-color: $sidebar-color;

      @include mq(md) {
        display: flex;
        background-color: $body-background-color;
      }

      &.nav-open {
        display: block;
      }
    }
  }
}

// Container for both main content and side panel, adjusted to avoid the navbar
.content-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  margin-left: 20%; // Ensure the main content container respects navbar width

  .main-content-area {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;

    .main {
      flex: 1;
      overflow-y: auto;
      transition: width 0.3s ease;

      &.content-shift {
        width: 70vw; // Width reduced when side panel is open
        max-width: 70vw;
      }
    }
  }
}

// Side panel styling
.side-panel {
  width: 0;
  overflow-y: auto;
  transition: width 0.3s ease;
  padding: 0px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: fixed;
  right: 0;
  top: $header-height;
  height: 100%;
  background-color: #f5f2ff;

  &.active {
    color: #16006f;
    padding: 3%;
    width: 40vw; // Expands to half the screen when active
  
    h1 {
      font-size: small;
      color: black;
    }
  }
}

// Button styling for side panel close button
.side-panel button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

// Content adjustments for side panel and main content area
.main-content-wrap {
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;

  @include container;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing;
  }
}

.main-header {
  z-index: 0;
  border-bottom: $border $border-color;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    height: $header-height;
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(lg) {
    width: 100%;
  }
}

.site-nav {
  display: none;

  &.nav-open {
    display: block;
  }

  @include mq(md) {
    display: block;
    padding-top: $sp-8;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
}

.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;

  @include mq(md) {
    height: $header-height;
    max-height: $header-height;
    border-bottom: $border $border-color;
  }
}

.site-title {
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $body-heading-color;

  @include container;

  @include fs-6;

  @include mq(md) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
  }
}

@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}

.site-title:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 80%,
    rgba($feedback-color, 0) 100%
  );
}

.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}

// stylelint-disable selector-max-type

body {
  position: relative;
  padding-bottom: $sp-10;
  overflow-y: scroll;

  @include mq(md) {
    position: static;
    padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;

  @include container;

  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}
