//
// Main nav, breadcrumb, etc...
//

.site-title {
  display: block;
  flex: 1 1 auto;
  background-color: $grey-lt-000;

  @include mq(md) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
    height: 60px;
    padding-top: $sp-4;
    box-shadow: inset 0 -1px 0 $border-color;
  }
}

.navigation-list {
  padding: 0;
  margin-top: $sp-4;
  margin-bottom: 0;
  list-style: none;

  @include mq(md) {
    margin-top: 0;
  }
}

.navigation-list-child-list {
  padding-left: $sp-3;
  list-style: none;

  .navigation-list-link {
    color: $grey-dk-100;
  }

  .navigation-list-item {
    &::before {
      position: absolute;
      margin-top: 0.3em;
      margin-left: -0.8em;
      color: $grey-dk-000;
      content: "- ";
    }

    &.active {
      &::before {
        color: $grey-dk-100;
      }
    }
  }
}

.navigation-list-item {
  @include fs-4;
  margin: 0;

  @include mq(md) {
    @include fs-3;
  }
}

.navigation-list-link {
  display: block;
  padding-top: $sp-1;
  padding-bottom: $sp-1;

  &.active {
    font-weight: 600;
    color: $grey-dk-200;
    text-decoration: none;
  }
}

// Small screen nav

.main-nav,
.aux-nav {
  display: none;

  &.nav-open {
    display: block;
  }
  @include mq(md) {
    display: block;
  }
}

.navigation-list-toggle {
  position: absolute;
  right: $sp-4;

  @include mq(md) {
    display: none !important;
  }
}

// Breadcrumb nav

.breadcrumb-nav-list {
  padding-left: 0;
  margin-bottom: $sp-3;
  list-style: none;
}

.breadcrumb-nav-list-item {
  display: table-cell;
  @include fs-2;

  &::before {
    display: none;
  }

  &::after {
    display: inline-block;
    margin-right: $sp-2;
    margin-left: $sp-2;
    color: $grey-dk-000;
    content: "/";
  }

  &:last-child {
    &::after {
      content: "";
    }
  }
}
