//
// Search input and autocomplete
//

.search {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  height: $sp-10;
  padding: $sp-2;
  transition: padding linear 100ms;

  @include mq(md) {
    position: relative !important;
    width: auto !important;
    height: 100% !important;
    padding: 0;
    transition: none;
  }
}

.search-input-wrap {
  position: relative;
  height: $sp-8;
  transition: height linear 100ms;

  @include mq(md) {
    height: 100% !important;
    transition: none;
  }
}

.search-input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: $sp-2;
  padding-right: $gutter-spacing-sm;
  padding-bottom: $sp-2;
  padding-left: #{$gutter-spacing-sm + $sp-4 * 1.2 + $sp-2};
  background-color: $search-background-color;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  @include fs-4;

  @include mq(md) {
    max-width: $search-results-width;
    padding-top: $gutter-spacing-sm;
    padding-left: #{$gutter-spacing + $sp-5};
    padding-bottom: $gutter-spacing-sm;
    background-color: $body-background-color;
    border-radius: 0;
    box-shadow: none;
    transition: width ease 200ms;
    @include fs-3;
  }

  &:focus {
    outline: 0;

    + .search-label .search-icon {
      fill: $link-color;
    }
  }
}

.search-label {
  position: absolute;
  display: flex;
  height: 100%;
  padding-left: $gutter-spacing-sm;

  @include mq(md) {
    padding-left: $gutter-spacing;
  }

  .search-icon {
    width: #{$sp-4 * 1.2};
    height: #{$sp-4 * 1.2};
    align-self: center;
    fill: $grey-dk-000;
  }
}

.search-results {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: calc(100% - #{$sp-10});
  overflow-y: auto;
  background: $search-background-color;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);

  @include mq(md) {
    width: $search-results-width;
    max-height: calc(100vh - 200%) !important;
  }
}

.search-results-list {
  padding-left: 0;
  margin-bottom: $sp-1;
  list-style: none;
  @include fs-4;

  @include mq(md) {
    @include fs-3;
  }
}

.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-result {
  display: block;
  padding-top: $sp-1;
  padding-right: $sp-3;
  padding-bottom: $sp-1;
  padding-left: $sp-3;

  &:hover,
  &.active {
    background-color: $feedback-color;
  }

  @include mq(md) {
    padding-right: $sp-4;
    padding-left: $sp-4;
  }
}

.search-result-title {
  display: block;
  padding-top: $sp-2;
  padding-right: $sp-4;
  padding-bottom: $sp-2;

  @include mq(sm) {
    display: inline-block;
    width: 40%;
    word-wrap: break-word;
    vertical-align: top;
  }
}

.search-result-rel-url {
  display: block;
  overflow: hidden;
  color: $search-result-preview-color;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include fs-1;
}

.search-result-preview {
  display: block;
  padding-top: $sp-2;
  padding-bottom: $sp-2;
  padding-left: $sp-4;
  color: $search-result-preview-color;
  border-left: $border;
  border-left-color: $border-color;
  @include fs-2;

  @include mq(sm) {
    display: inline-block;
    width: 60%;
    vertical-align: top;
  }
}

.search-result-highlight {
  font-weight: bold;
  color: $link-color;
}

.search-button {
  position: fixed;
  right: $sp-4;
  bottom: $sp-4;
  display: flex;
  width: $sp-9;
  height: $sp-9;
  background-color: $search-background-color;
  border-radius: #{$sp-9 / 2};
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  align-items: center;
  justify-content: center;
}

.search-results,
.search-button {
  border: 1px solid rgba($link-color, 0.3);
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity ease 200ms, width 0s 200ms, height 0s 200ms;
}

.search-active {
  .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .search-input-wrap {
    height: $sp-10;
  }

  .search-input {
    border-radius: 0;
    box-shadow: none;

    @include mq(md) {
      width: $search-results-width;
    }
  }

  .search-results {
    display: block;
  }

  .search-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease 200ms, width 0s, height 0s;
  }

  @include mq(md) {
    .main {
      position: absolute;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }
  }
}
