//
// Search input and autocomplete
//

.search {
  display: none;

  @include mq(md) {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.search-results-wrap {
  display: none;

  &.active {
    position: absolute;
    top: $sp-10;
    right: $gutter-spacing;
    z-index: 100;
    display: block;
    width: 200px;
    background: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
  }
}

.search-input-wrap {
  position: absolute;
  top: $sp-7;
  right: $gutter-spacing;
  z-index: 99;
  display: flex;
  background-color: $white;
}

.search-input {
  width: 200px;
  padding-top: $sp-1;
  padding-bottom: $sp-1;
  border-top: 0;
  border-right: 0;
  border-bottom: $border $border-color;
  border-left: 0;
  order: 2;

  &:focus {
    border-bottom: $border $grey-lt-300;
    outline: 0;
    box-shadow: 0;

    + .search-icon {
      fill: $purple-000;
    }
  }
}

.search-icon {
  align-self: center;
  margin-right: $sp-2;
  fill: $grey-dk-000;
  order: 1;
}

.search-results-list {
  padding-left: 0;
  margin-bottom: $sp-1;
  list-style: none;
  @include fs-3;
}

.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-results-link {
  display: block;
  padding-top: $sp-1;
  padding-right: $sp-3;
  padding-bottom: $sp-1;
  padding-left: $sp-3;

  &:hover {
    background-color: $grey-lt-000;
  }
}
