// Top navigation

.topnav {
    border: $border $border-color;
    height: 57px;
  }
  
  .topnav-container {
    background-color: $body-background-color;
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  
    &.nav-open {
      display: inline-block;
    }
  }
  
  .topnav-items {
    display: none;
    width: 50%;
    float: right;
  
    &.nav-open {
      display: block;
      float: left;
      width: 100%;
  
      a {
        display: block;
        width: 100%;
        text-align: left;
      }
    }
  
    @include mq(md) {
      display: block;
      width: 80%;
    }
  }
  
  .topnav-logo {
    width: 50%;
    float: left;
    padding: 9px 0;

    a {
      font-size: 22px;
      color: $link-color;
      font-weight: bold;
      text-shadow: 1px 1px 1px;
    }
    
  
    @include mq(md) {
      width: 20%;
    }
  }
  
  .topnav-items a {
    float: left;
    color: $link-color;
    text-align: center;
    padding: 14px 16px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .topnav-items a:hover {
    opacity: 0.3;
  }
  
  .hamburger-container {
    cursor: pointer;
    float: right;
    padding: 14px 10px;
  
    @include mq(md) {
      display: none;
    }
  }
  
  .hamburger-bar1, .hamburger-bar2, .hamburger-bar3 {
    width: 25px;
    height: 3px;
    background-color: $link-color;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .hamburger-change .hamburger-bar1 {
    -webkit-transform: rotate(-45deg) translate(0px, 9px);
    transform: rotate(-45deg) translate(0px, 9px);
  }
  
  .hamburger-change .hamburger-bar2 {opacity: 0;}
  
  .hamburger-change .hamburger-bar3 {
    -webkit-transform: rotate(45deg) translate(0px, -9px);
    transform: rotate(45deg) translate(0px, -9px);
  }
  
  .top-nav-toggle {
    display: inline;
    position: absolute;
    right: 10px;
    top: -22px;
    font-size: 1.9em;
    border: 0;
  
    @include mq(md) {
      display: none;
    }
  
    &:hover {
      border: 0;
    }
  }