<!-- scarlab-icons, SVG Repo, under MIT License: https://github.com/la-moore/scarlab-icons/blob/master/LICENSE -->
<symbol id="svg-arrow-down" viewBox="0 0 24 24">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 20L12 4" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M6 14L11.9375 19.9375V19.9375C11.972 19.972 12.028 19.972 12.0625 19.9375V19.9375L18 14" stroke="#323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</symbol>
