---
---
{% if site.color_scheme and site.color_scheme != "nil" and site.color_scheme != "auto" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}
