.text-purple-000 {
  color: $purple-000 !important;
}

.text-purple-100 {
  color: $purple-100 !important;
}

.text-purple-200 {
  color: $purple-200 !important;
}

.text-purple-300 {
  color: $purple-300 !important;
}

.text-grey-lt-000 {
  color: $grey-lt-000 !important;
}

.text-grey-lt-100 {
  color: $grey-lt-100 !important;
}

.text-grey-lt-200 {
  color: $grey-lt-200 !important;
}

.text-grey-lt-300 {
  color: $grey-lt-300 !important;
}

.text-grey-dk-000 {
  color: $grey-dk-000 !important;
}

.text-grey-dk-100 {
  color: $grey-dk-100 !important;
}

.text-grey-dk-200 {
  color: $grey-dk-200 !important;
}

.text-grey-dk-300 {
  color: $grey-dk-300 !important;
}
