{%- comment -%}
  Include as: {%- include components/children_nav.html -%}
  Depends on: page, site.
  Results in: HTML for the children-navigation component.
  Issues:
    For sites with more than 3 levels of navigation links, or which use
    `ancestor` fields, the resulting child links are currently incorrect.
  Includes:
    components/nav/sorted.html
    toc_heading_custom.html
  Overwrites:
    child_pages, child.
{%- endcomment -%}

{%- assign child_pages = site[page.collection]
      | default: site.html_pages
      | where: "parent", page.title -%}

{%- if child_pages.size > 0 -%}

{%- include components/nav/sorted.html pages = child_pages -%}

{%- if page.child_nav_order == 'desc' or page.child_nav_order == 'reversed' -%}
  {%- assign nav_sorted = nav_sorted | reverse -%}
{%- endif -%}

<hr>
{% include toc_heading_custom.html %}
<ul>
  {% for child in nav_sorted %}
  <li>
    <a href="{{ child.url | relative_url }}">{{ child.title }}</a>{% if child.summary %} - {{ child.summary }}{% endif %}
  </li>
  {% endfor %}
</ul>

{%- endif -%}
