{% capture footer_custom %}
  {%- include footer_custom.html -%}
{% endcapture %}
<hr>
<footer>
  {% if site.back_to_top %}
    <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
  {% endif %}

  {% if footer_custom != "" %}
    {{ footer_custom }}
  {% endif %}

  <p style="font-size:0.75em">
      Brought to you by the <a href="https://scds.ca">Lewis & Ruth Sherman Centre for Digital Scholarship</a> and the <a href="https://library.mcmaster.ca">McMaster University Library</a>.
      <br>
      Site last modified: {{ site.time | date_to_long_string: "ordinal", "US" }}
  </p>

  {% if
    site.gh_edit_link and
    site.gh_edit_link_text and
    site.gh_edit_repository and
    site.gh_edit_branch and
    site.gh_edit_view_mode
  %}
    <p class="text-small text-grey-dk-000 mb-0">
      <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}{% if page.collection and site.collections_dir %}/{{ site.collections_dir }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
    </p>
  {% endif %}
</footer>

