{%- comment -%}
	  Include as: {% include components/toc.html %}
	  Depends on: site, content.
	  Includes: toc_custom.html, toc_heading_custom.html, vendor/toc.html.
	  Overwrites: toc_custom.

	  Add a Table of Contents sidebar to the right of main content. When enabled, the layout will be shifted left to
	  accommodate the new sidebar (unless on smaller screens where ToC will display as a side/top panel).

	  Switches when the screen width is larger than `$nav-width + $content-width + $toc-width` (set as `mq(xl)`).

	  Note that ToC sidebar is strictly opt-out. Once enabled in _config.yml, this feature will be enabled site-wide, and
	  you'll need to set the flag on a page or layout if you wish to disable the ToC sidebar for that page or layout.
	  Likewise, if you wish to use the ToC sidebar for just one page, you have to enable the feature site-wide.

	  Again, because the _default_ layout is set to shift regardless, and navigating pages => layout shifts => surprises.

	  Disabling ToC sidebar per page will leave a large blank space, to which I chose not to do anything because the other
	  options are to break `$content-width`, or center the content inside `.main-content-wrap` which causes layout shift.
{%- endcomment -%}

{% capture toc_custom %}
    {%- include toc_custom.html -%}
{% endcapture %}

{% if site.toc.highlight_active != false %}
    {% assign anchor_class = 'toc-item-link' %}
{% else %}
    {% assign anchor_class = site.toc.anchor_class | default: '' %}
{% endif %}

{% assign sanitize = site.toc.sanitize | default: false %}
{% assign class = site.toc.class | default: '' %}
{% assign item_class = site.toc.item_class | default: '' %}
{% assign submenu_class = site.toc.submenu_class | default: '' %}
{% assign base_url = site.toc.base_url | default: '' %}
{% assign skip_no_ids = site.toc.skip_no_ids | default: false %}

{% if toc_custom != "" %}
    {{ toc_custom }}
{% else %}
    <input type="checkbox" id="toggle-toc" aria-controls="inner-toc" aria-labelledby="toggle-toc-btn" class="visually-hidden">
    <aside id="toc" class="container{% if site.toc.md_side_panel %} panel{% endif %}" aria-label="Table of Contents sidebar">
        <noscript>
            <label for="toggle-toc" id="toggle-toc-btn" class="btn toc-btn-md" title="Toggle Table of Contents panel">
                <svg viewBox="0 0 24 24" class="icon menu-icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
                <svg viewBox="0 0 24 24" class="icon close-icon" aria-hidden="true"><use xlink:href="#svg-close"></use></svg>
            </label>
            <label for="toggle-toc" class="toc-banner toc-btn-sm"></label>
        </noscript>
        <button class="btn toggle-toc toc-btn-md" aria-expanded="false" aria-controls="inner-toc" title="Toggle Table of Contents side panel" aria-label="Toggle Table of Contents side panel" hidden>
            <svg viewBox="0 0 24 24" class="icon menu-icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
            <svg viewBox="0 0 24 24" class="icon close-icon" aria-hidden="true"><use xlink:href="#svg-close"></use></svg>
        </button>
        <a href="#" class="toggle-toc toc-banner toc-btn-sm" role="button" aria-expanded="false" aria-controls="inner-toc" aria-label="Open Table of Contents top panel" hidden></a>
        <nav id="inner-toc" aria-label="Table of Contents panel">
            <noscript>
                <label for="toggle-toc" class="close-btn" title="Close">
                    <svg viewBox="0 0 24 24" class="icon close-icon" aria-hidden="true"><use xlink:href="#svg-close"></use></svg>
                    <span class="close-text">Close</span>
                </label>
            </noscript>
            <a href="#" class="toggle-toc close-btn" role="button" aria-label="Close Table of Contents panel" title="Close" hidden>
                <svg viewBox="0 0 24 24" class="icon close-icon" aria-hidden="true"><use xlink:href="#svg-close"></use></svg>
                <span class="close-text">Close</span>
            </a>
            {% if site.back_to_top %}
                <p><a href="#top" class="back-to-top">{{ site.back_to_top_text }}</a></p>
            {% endif %}
            {% include toc_heading_custom.html %}
            {% include vendor/toc.html
                html=content
                sanitize=sanitize
                class=class
                h_min=site.toc.min_heading_level
                h_max=site.toc.max_heading_level
                ordered=site.toc.ordered
                item_class=item_class
                submenu_class=submenu_class
                base_url=base_url
                anchor_class=anchor_class
                skip_no_ids=skip_no_ids
                flat_toc=site.toc.flat_toc
            %}
        </nav>
    </aside>
{% endif %}