<!DOCTYPE html>

<html lang="en-us">
{% include head.html %}


<body>

  <div class="page-wrap">

    <div class="side-bar">
      <a href="{% if site.baseurl == "" or site.baseurl == nil %}/{% else %}{{site.baseurl}}{% endif %}" class="site-title fs-6 lh-tight">{{ site.title }}</a>
      <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>    
      <div class="navigation main-nav js-main-nav">

        {% if site.google_custom_search_id != nil %}
          <div class="gcse-search"></div>
        {% endif %}
    
        {% include nav.html %}
      </div>
      <footer role="contentinfo" class="site-footer">

            <p class="text-grey-dk-000 fs-2 fw-300" style="text-align: right">

                <i class="fa fa-globe" style="font-size:14px; padding-right: 10px;"></i>
                <select onChange="window.location.href = this.value">

                    {% for tongue in site.languages %}
                        <option {% if tongue == site.active_lang %} selected {% endif %} value="{% if tongue == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{ tongue }}{{page.url}}{% endif %}">{{ site.lang_vars[forloop.index0] }}</option>
                    {% endfor %}
                </select>

            </p>

      </footer>
    </div>



    <div class="main-content-wrap">
      <div class="page-header">
        <div class="main-content">        
          {% if site.search_enabled != nil %}
          <div class="search js-search">
            <div class="search-input-wrap">
              <input type="text" class="js-search-input search-input" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
              <svg width="14" height="14" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg" class="search-icon"><title>Search</title><g fill-rule="nonzero"><path d="M17.332 20.735c-5.537 0-10-4.6-10-10.247 0-5.646 4.463-10.247 10-10.247 5.536 0 10 4.601 10 10.247s-4.464 10.247-10 10.247zm0-4c3.3 0 6-2.783 6-6.247 0-3.463-2.7-6.247-6-6.247s-6 2.784-6 6.247c0 3.464 2.7 6.247 6 6.247z"/><path d="M11.672 13.791L.192 25.271 3.02 28.1 14.5 16.62z"/></g></svg>
            </div>
            <div class="js-search-results search-results-wrap"></div>
          </div>
          {% endif %}
          {% if site.aux_links != nil %}
            <ul class="list-style-none text-small mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              {% for link in site.aux_links %}
                <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}"><a href="{{ link.last }}">{{ link.first }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="main-content">

        <div class="page-content">

            {{ site.custom_pre_content }}  

            {{ content }}

            {{ site.custom_post_content }}  

            {% for toc_level_1 in site.data.toc %}
                {% for toc_level_2 in toc_level_1.children %}
                    {% if toc_level_2.page == page.permalink %}
                        {% assign children = toc_level_2.children %}
                    {% else %}
                        {% for toc_level_3 in toc_level_2.children %}
                          {% if toc_level_3.page == page.permalink %}
                              {% assign children = toc_level_3.children %}
                          {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if children %}
                <h2 style="margin-top:40px" class="text-delta">Child Topics</h2>
                    {% for child in children %}
                        {% include page_nav_entry.html entry=child %}
                    {% endfor %}
            {% endif %}
        </div>
      </div>

      <div class="main-content" style="background-color: white; height: 50px;">
      </div>

      <div class="main-content" >
        <hr style="margin: 0px">
        <p class="text-grey-dk-000 fs-2 fw-300" style="text-align: right">
          <i class="fa fa-github"></i> <a target="_blank" href="https://github.com/{{site.github_editme_path}}/{{page.path}}" >Edit this document</a><br/>
        </p>
      </div>

    </div>

  </div>

  <script type="text/javascript">
    /**
     * AnchorJS v3.2.0 options and selector
     */
    anchors.add();

    // decorate all external links with a style and open in new tab
    (function() {
      var links = document.links;
      for (var i = 0, linksLength = links.length; i < linksLength; i++) {
        // temp fix: make sure sphinx repos on developer site appear as external links from dev site.
        if (links[i].pathname.startsWith('/tk-doc-generator')) {
            // no external links for the doc generator - but for all other developer site /tk-links
            continue;
        }
        if (links[i].hostname != window.location.hostname || links[i].pathname.startsWith('/tk-') || links[i].pathname.startsWith('/sg-') || links[i].pathname.startsWith('/python-api') || links[i].pathname.startsWith('/rest-api') ) {
          links[i].target = '_blank';
          links[i].className += ' external-link-decoration';
        }
      }
    })();

  </script>

</body>
</html>
