---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% if page.nav_enabled == true %}
    {% include components/sidebar.html %}
  {% elsif layout.nav_enabled == true and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% elsif site.nav_enabled != false and layout.nav_enabled == nil and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% endif %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <main>
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
            {{ content }}
          {% endif %}

          {% if page.has_children == true and page.has_toc != false %}
            {% include components/children_nav.html %}
          {% endif %}
        </main>
        {% include components/footer.html %}
      </div>
    </div>
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
