---
layout: default
---



<div style="margin-top: 50px; display: flex; align-items: center; flex-direction: column; justify-content: center;">

    <img style="max-height: 200px; box-shadow: none;" src="{{ site.data.landing_page.image }}"/>

    <div class="fs-3" style="width: 90%; margin: 20px;">
    {{ site.data.landing_page_text.title }}
    </div>

    <div style="display: flex; flex-wrap: wrap; margin-top: 10px; justify-content: center;" >
    {% for tile in site.data.landing_page.tiles%}

        <div
            style="cursor: pointer; width: 190px; margin: 5px; padding: 5px; padding-top: 10px; padding-bottom: 10px; border: 1px solid #0696D7; border-radius: 4px; text-align: center;"
            onmouseover="this.style.background='#eeeeee';"
            onmouseout="this.style.background='white';"
            onclick="location.href='{{ tile.target }}';"
        >
            <img style="width: 80px; height: 80px; box-shadow: none;" src="{{ tile.image }}"/>
            <div class="fs-2">{{ site.data.landing_page_text[tile.name] }}</div>
        </div>

    {% endfor %}
    </div>


</div>
