---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% comment %}
    This is a bandaid fix to properly render breadcrumbs; as of now, there is some variable leakage between the sidebar component (which computes parents, grandparents) and the breadcrumbs component. We plan to remove this in a future release to deduplicate code.

    For more context, see https://github.com/just-the-docs/just-the-docs/pull/1058#discussion_r1057014053
  {% endcomment %}
  {% capture nav %}
    {% assign pages_top_size = site.html_pages
          | where_exp:"item", "item.title != nil"
          | where_exp:"item", "item.parent == nil"
          | where_exp:"item", "item.nav_exclude != true"
          | size %}
    {% if pages_top_size > 0 %}
      {% include nav.html pages=site.html_pages key=nil %}
    {% endif %}
    {% if site.just_the_docs.collections %}
      {% assign collections_size = site.just_the_docs.collections | size %}
      {% for collection_entry in site.just_the_docs.collections %}
        {% assign collection_key = collection_entry[0] %}
        {% assign collection_value = collection_entry[1] %}
        {% assign collection = site[collection_key] %}
        {% if collection_value.nav_exclude != true %}
          {% include nav.html pages=collection key=collection_key %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endcapture %}
  <div id="main-content-wrap" class="main-content-wrap" id="top">
    {% include components/breadcrumbs.html %}
    <div id="main-content" class="main-content" role="main">
      {% if site.heading_anchors != false %}
        {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
      {% else %}
        {{ content }}
      {% endif %}

      {% if page.has_children == true and page.has_toc != false %}
        {% include components/children_nav.html toc_list=toc_list %}
      {% endif %}

      {% include components/footer.html %}

    </div>
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
